@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/* *{
    /* padding: 2%; */
     /* margin-left: 2%;
    margin-right: 1%; */
     /* margin: 2%; */
    /* margin-top: 2%;
    margin-bottom: 2%;  */
/* } */ 

.hmimg{
    width: 100%;
    opacity: 1;
}

.toppos{
    position: relative;
    /* text-align: center; */
}

.txtonimg{
    position: absolute;
    color: rgb(0, 217, 255);
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 80px;
}

.mystyle{
    position: relative; 
    top: 3px; 
}
  
p {
  /* color: white !important; */
  font-weight: 300; }

.class1{
  left: 287.328px; 
  width: 210px; 
  height: 0px; 
  top: 54px;
}

/* dash-ui code */


.banner {
  background-color: #031841;
  background-size: cover;
  background-position: top center;
  position: relative;
  height: 75vh;
  min-height: 650px;
  padding-top: 80px; }
  .banner::before {
    content: " ";
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(50, 50, 50, 0.3); }
  .banner .caption-container {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .banner .caption {
    text-align: center;
    width: 780px;
    max-width: 100%;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.2); }
    .banner .caption h1 {
      font-size: 60px;
      font-weight: 800;
      font-style: italic; }
      
      @media (max-width:550px) 
      {
        .banner .caption h1 {
          font-size: 45px;
          font-weight: 600;
          font-style: italic; }
          .banner .caption p {
            font-size: 20px;
            font-family: "Montserrat", sans-serif;
            font-weight: 600; }
      } 

    .banner .caption p {
      font-size: 30px;
      font-family: "Montserrat", sans-serif;
      font-weight: 800; }
    .banner .caption a.playvideo-js {
      display: block;
      width: 60px;
      margin: 30px auto; }
  .banner.has-embed {
    background: #fff;
    height: 90vh; }
    .banner.has-embed::before {
      display: none; }
  .banner iframe {
    height: 100%; }

.banner-no-overlay {
  background-color: #031841;
  background-size: cover;
  background-position: top center;
  position: relative;
  height: 75vh;
  min-height: 650px;
  padding-top: 80px; }

.banner-shape {
  color: #fff;
  position: relative;
  font-size: 14px;
  padding-left: 120px;
  padding-right: 120px; }
  .banner-shape .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 200px 0 200px 0;
    transform: skew(-5deg); }
  .banner-shape > .row {
    padding: 60px 0; }
    .banner-shape > .row > div {
      border-right: 1px solid rgba(200, 200, 255, 0.15); }
    .banner-shape > .row > div:last-child {
      border: 0; }
  .banner-shape.pull-up {
    margin-top: -140px;
    position: relative;
    z-index: 3; }
  .banner-shape .callout {
    width: 300px;
    padding-left: 10px;
    display: block;
    margin: 0 auto;
    max-width: 90%; }
    .banner-shape .callout h3 {
      font-size: 24px;
      font-weight: 700; }
    .banner-shape .callout p {
      width: 190px;
      max-width: 90%; }
  .banner-shape a {
    display: block;
    color: #fff; }
    .banner-shape a:hover polygon {
      fill: #fff; }
  .banner-shape p {
    margin: 0; }

.halfbanner {
  position: relative;
  padding-top: 80px;
  padding-bottom: 30px;
  height: 450px;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover; }
  .halfbanner .container, .halfbanner .row {
    height: 100%; }
  .halfbanner img.main {
    max-height: 340px; }
  .halfbanner .caption {
    position: relative;
    z-index: 2;
    font-size: 14px; }
    .halfbanner .caption h1 {
      color: #008de4;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 15px; }
    .halfbanner .caption .btn {
      margin-top: 20px; }
  .halfbanner .carousel .slide {
    height: 45vh;
    padding: 0 15px; }
  .halfbanner .carousel.carousel-prev {
    left: 15px; }
  .halfbanner .carousel.carousel-next {
    left: 15px; }
  .halfbanner .carousel p {
    margin-bottom: 0; }
  .halfbanner .carousel .btn {
    margin-top: 15px; }
  .halfbanner .carousel .image {
    background-size: cover;
    background-position: center;
    height: 285px;
    width: 100%;
    display: block;
    margin: 10px auto; }
  .halfbanner .slick-dots {
    position: absolute;
    bottom: -40px; }


.page-downloads .halfbanner {
  height: 600px; }

/*
.page-downloads {
  padding-top: 100px;
}
*/

.page-news .halfbanner {
  height: auto; }
  .page-news .halfbanner .caption {
    word-break: break-word; }

#main {
  min-height: 50vh; }

.no-banner {
  padding-top: 80px; }


@media only screen and (max-width: 1200px) and (min-width: 991px) {
  .banner-shape {
    max-width: 90%;
    padding: 0 80px; }
    .banner-shape .callout {
      width: auto; } }

.banner .caption {
    padding: 15px; }
    .banner .caption h1 {
      font-size: 60px; }
    .banner .caption p {
      font-size: 25px;
      font-weight: 400;
      /* font-family: 'Caveat', cursive;  */
      font-family: 'Kaushan Script', cursive;
    }
  .banner-shape {
    padding: 15px;
    width: 100%;
    max-width: 100%; }
    .banner-shape .bg {
      border-radius: 0;
      transform: none; }
    .banner-shape .callout {
      width: 100%;
      padding: 15px 15px 25px 15px;
      border-bottom: 1px solid rgba(200, 200, 255, 0.15); }
      .banner-shape .callout p {
        width: 90%;
        line-height: 1.7em; }
    .banner-shape > .row {
      padding: 0; }
      .banner-shape > .row > div {
        padding: 0;
        border-right: 0; }
        .banner-shape > .row > div:last-child .callout {
          border-bottom: 0; }
  .halfbanner {
    height: auto; }
    .halfbanner.with-bgimg {
      background-image: none !important; }
    .halfbanner .caption {
      padding: 15px; }
    .halfbanner .carousel .slide {
      padding: 0;
      height: auto; }
  .page-news .halfbanner {
    padding-top: 0; }
    .page-news .halfbanner .container {
      padding: 0; }
    .page-news .halfbanner button.carousel-nav {
      top: 180px; }

html[dir="rtl"] .banner-shape .icon-inline {
  transform: rotate(180deg); }
html[dir="rtl"] .btn-vendor {
  direction: ltr; }
html[dir="rtl"] .banner-shape > .row > div {
  border-left: 1px solid rgba(200, 200, 255, 0.15); 
  border-right: 0; }
html[dir="rtl"] .banner-shape > .row > div:last-child {
  border: 0; }
html[dir="rtl"] .roadmap-item.info .arrow {
  transform: rotate(180deg);
  right: auto;
  left: 10px;
}

html[dir=rtl] .halfbanner.bg.bg-lightgray.with-bgimg {
    background-image: none !important;
}


.page-roadmap .halfbanner .caption {
  width: 850px;
  margin: 0 auto; }

.page-id-67894 .banner .caption {
  width: auto!important;  
}

.page-id-67894 .banner{
  max-height: 490px;
  min-height: auto!important;
}

.page-id-67894 .banner .caption h1{
  font-style: normal;
}

.page-id-67894 .banner .caption p{
  font-size: 2.3em;
  font-weight: 300;
}

.page-id-67894 .banner .caption p::after{
  content: url(https://www.dash.org/wp-content/uploads/esports-arrow.png);
  width: 36px;
  height: 21px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 30px;
}

@media(max-width: 960px){
  .page-id-67894 .banner .caption h1{
    margin-top: 30px;
  }
    
  .page-id-67894 .banner .caption p{
    font-size: 1.7em;
    line-height: 1.2;
    position: relative;
    top: 20px;
  }
  .page-id-67894 .banner .caption p::after{
    display: none;
  }
}

.myclass{
  background-image:url("https://images.unsplash.com/photo-1583324113626-70df0f4deaab?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=600&ixid=MnwxfDB8MXxyYW5kb218MHx8Y29yb25hfHx8fHx8MTYyNTQ5ODYwNQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600");
}

 .news-item .caption {
    margin-top: 15px;
    font-size: 14px;
    padding-bottom: 25px;
    word-break: break-word; }

.team-item .caption {
    padding: 10px 5px; }

.roadmap-item .caption {
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    overflow: hidden; }

.roadmap-item.year .caption {
      display: block;
      margin: 0 auto;
      width: 120px;
      border: 1px solid #008de4;
      padding: 10px; }

.roadmap-item.info .caption {
      position: relative;
      cursor: pointer;
      padding: 50px 20px 30px 20px;
      box-shadow: 0 10px 15px rgba(0, 141, 228, 0.3);
      font-size: 12px;
      width: 290px; }

  
/* dash-ui code */

.carousel_button{
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

.caro_card{
    width: 25rem;
    margin: 20px;
}

@media (max-width:550px) 
{
    .caro_card{
    width: 15rem;
    margin: 10px;
  } 
} 